[Desktop Entry]
Comment=Stardust Plasma Theme
Name=Stardust
X-KDE-PluginInfo-Author=David Linares (Mcder3), modifyed by skylineone044
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Email=skylineone044[at]gmail[dot]com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=CC BY-SA
X-KDE-PluginInfo-Name=Stardust
X-KDE-PluginInfo-Version=1
X-KDE-PluginInfo-Website=
X-Plasma-API=5.0
