[AdaptiveTransparency]
enabled=true

[ContrastEffect]
contrast=1.0
enabled=true
intensity=0.40
saturation=1.4

[Desktop Entry]
Comment=Stardust Plasma Theme, based on Nilium by David Linares (Mcder3)
Name=Stardust
X-KDE-PluginInfo-Author=David Linares (Mcder3) & skylineone044
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Email=skylineone044[at]gmail[dot]com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=CC BY-SA
X-KDE-PluginInfo-Name=Stardust
X-KDE-PluginInfo-Version=3.4.0
X-KDE-PluginInfo-Website=https://twitter.com/mcder3
X-Plasma-API=5.0
