/**
 * @name BasicBackground
 * @description Allows you to use a Background Image without greatly altering the basic Layout of Discord
 * @author DevilBro
 * @version 1.0.5
 * @authorId 278543574059057154
 * @invite Jx3TjNS
 * @donate https://www.paypal.me/MircoWittrien
 * @patreon https://www.patreon.com/MircoWittrien
 * @website https://mwittrien.github.io/
 * @source https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/BasicBackground/
 * @updateUrl https://mwittrien.github.io/BetterDiscordAddons/Themes/BasicBackground/BasicBackground.theme.css
 */

/* To change stuff like the colors, transparency and background image, change the variables inside the root {}, do NOT change the @import url() */

@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/BasicBackground/BasicBackground.css);

:root {
	--transparencycolor:			0, 0, 0;						/* default:	0,0,0*/
	--transparencyalpha:			0.1;						/* default: 0.15				(general darkness of the app)													*/
	--messagetransparency:			0.03;						/* default: 0.5					(additional shadows behind messages, set to 0 to remove boxes)					*/
	--guildchanneltransparency:		0.1;						/* default: 0.15				(additional darkness for guild/channel list)									*/
	--memberlisttransparency:		0.1;						/* default: 0.0					(additional darkness for member list)											*/
	--accentcolor:					13, 118, 219;					/* default: 190,78,180			(RGB-format - blurple: 114,137,218 bd-blue: 58,113,193)							*/
	
	--font:							Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;		/* font used in most places														*/
	--textshadow:					0, 0, 0, 0.8;				/* default: transparent			(textshadow for text ontop of accentcolor nodes, ONLY accepts a color, no px)	*/
	--settingsicons:				1;							/* Use Settings Icons in User/Server/Channel Settings: 1 = yes, 0 = no											*/
	
	--background:					rgba(0, 0, 0, 0);	/* general background image				*/
	--backgroundposition:			center;						/* default: center				(position of background - values: [center/top/right/bottom/left])				*/
	--backgroundsize:				cover;						/* default: cover				(sizefit of background - values: [cover/contain/auto])							*/
	--backgroundblur:				10px;						/* default: unset				(blur in px, only works when --background is set to an image)					*/
	
	--popout:						var(--background);			/* default: var(--background)	(change to use another background/color for modals/popouts)						*/
	--popoutposition:				var(--backgroundposition);	/* default: center				(position of popout - values: [center/top/right/bottom/left])					*/
	--popoutsize:					var(--backgroundsize);		/* default: cover				(sizefit of popout - values: [cover/contain/auto])								*/
	--popoutblur:					var(--backgroundblur);		/* default: unset				(blur in px, only works when --popout is set to an image)						*/
	
	--backdrop:						rgba(0,0,0,0.5);			/* default: rgba(0,0,0,0.85)	(change to use another background/color for backdrops)							*/
	--backdropposition:				var(--backgroundposition);	/* default: center				(position of backdrop - values: [center/top/right/bottom/left])					*/
	--backdropsize:					var(--backgroundsize);		/* default: cover				(sizefit of backdrop - values: [cover/contain/auto])							*/
	--backdropblur:					var(--backgroundblur);		/* default: unset				(blur in px, only works when --backdrop is set to an image)						*/
	
	--version1_0_5:					none;						/* DO NOT CHANGE THIS VARIABLE , USED TO HIDE UPDATE NOTICE														*/
}

:root {
	--accentColor: #0d76db;
	--hoverBG: #0082ff40;
	--hoverBG_selected: #2192ffff;
	--transparentWhite: #ffffff25;
	--transparentBlack: rgba(0, 0, 0, 0.75);
}

body::before {
	background: #00000041 var(--backgroundposition)/var(--backgroundsize);
}

.scrollableContainer-2NUZem {  /* chat textbox */
	background-color: var(--transparentWhite);
}

::-webkit-scrollbar-thumb,     /* scrollbars */
#app-mount ::-webkit-scrollbar-thumb {
	border-radius: 3px;
	border: none;
	background-color: var(--transparentWhite) !important;
}

.side-8zPYf6 .themed-OHr7kt.item-PXvHYJ:hover:not(.disabled-1Hwwfb), /* settings sibear menu item on hover */
.member-3-YXUe:hover .layout-2DM8Md,    /* member list */
.channel-2QD9_O:hover .layout-2DM8Md,   /* dm chanel list item on hover */
.wrapper-2jXpOf:hover .content-1x5b-n {	/* chanel list item on hover*/
	background-color: var(--hoverBG);
}

.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ:hover, /* setting sidebar menu item selecteed on hover */
.selected-aXhQR6.channel-2QD9_O:hover .layout-2DM8Md,  /* dm chanel selected item on hover */
.modeSelected-346R90:hover .content-1x5b-n {    /* chanel selected on hover */
	background-color: var(--hoverBG_selected);
}

.peopleListItem-2nzedh.active-rhSpJJ,
.peopleListItem-2nzedh:hover {  /* online friends hover bg */
	background-color: var(--hoverBG);
}
#app-mount .outer-1AjyKL.active-1xchHY,
#app-mount .outer-1AjyKL.interactive-3B9GmY:hover {  /* active now cacrd hover bg */
	background-color: var(--hoverBG);
}

.button-1YfofB.buttonColor-7qQbGO {   /* active in voicechalel video and screen sharing buttons bg */
	background-color: var(--transparentWhite);
}

.button-1YfofB.buttonColor-7qQbGO:hover { /* active in voicechalel video and screen sharing buttons bg on hover */
	background-color: var(--hoverBG);
}

.button-1YfofB.buttonColor-7qQbGO.buttonActive-3FrkXp:hover { /* active in voicechalel video and screen sharing buttons bg on hover when active */
	background-color: var(--hoverBG_selected);
}

#app-mount .themedPopout-1TrfdI {	/* themed popout */
	background-color: var(--transparentBlack);
}

div.popout-APcvZm {
	background-color: var(--transparentBlack);
	backdrop-filter: blur(var(--backgroundblur));
}
.reaction-1hd86g.reactionMe-wv5HKu {
	background-color: var(--hoverBG);
}
.reaction-1hd86g.reactionMe-wv5HKu:hover {
	background-color: var(--hoverBG_selected);
}
