:root {
	--accentColor: #0d76db;
	--hoverBG: #0082ff40;
	--hoverBG_selected: #2192ffff;
	--transparentWhite: #ffffff25;
	--transparentBlack: rgba(0, 0, 0, 0.8);
}

body::before {
	background: #00000041 var(--backgroundposition)/var(--backgroundsize);
}

.scrollableContainer-2NUZem {  /* chat textbox */
	background-color: var(--transparentWhite);
}

::-webkit-scrollbar-thumb,     /* scrollbars */
#app-mount ::-webkit-scrollbar-thumb {
	border-radius: 3px;
	border: none;
	background-color: var(--transparentWhite) !important;
}

.side-8zPYf6 .themed-OHr7kt.item-PXvHYJ:hover:not(.disabled-1Hwwfb), /* settings sibear menu item on hover */
.member-3-YXUe:hover .layout-2DM8Md,    /* member list */
.channel-2QD9_O:hover .layout-2DM8Md,   /* dm chanel list item on hover */
.wrapper-2jXpOf:hover .content-1x5b-n {	/* chanel list item on hover*/
	background-color: var(--hoverBG);
}

.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ:hover, /* setting sidebar menu item selecteed on hover */
.selected-aXhQR6.channel-2QD9_O:hover .layout-2DM8Md,  /* dm chanel selected item on hover */
.modeSelected-346R90:hover .content-1x5b-n {    /* chanel selected on hover */
	background-color: var(--hoverBG_selected);
}

.peopleListItem-2nzedh.active-rhSpJJ,
.peopleListItem-2nzedh:hover {  /* online friends hover bg */
	background-color: var(--hoverBG);
}
#app-mount .outer-1AjyKL.active-1xchHY,
#app-mount .outer-1AjyKL.interactive-3B9GmY:hover {  /* active now cacrd hover bg */
	background-color: var(--hoverBG);
}

.button-1YfofB.buttonColor-7qQbGO {   /* active in voicechalel video and screen sharing buttons bg */
	background-color: var(--transparentWhite);
}

.button-1YfofB.buttonColor-7qQbGO:hover { /* active in voicechalel video and screen sharing buttons bg on hover */
	background-color: var(--hoverBG);
}

.button-1YfofB.buttonColor-7qQbGO.buttonActive-3FrkXp:hover { /* active in voicechalel video and screen sharing buttons bg on hover when active */
	background-color: var(--hoverBG_selected);
}

#app-mount .themedPopout-1TrfdI {	/* themed popout */
	background-color: var(--transparentBlack);
}

div.popout-APcvZm {
	background-color: var(--transparentBlack);
	backdrop-filter: blur(var(--backgroundblur));
}
